.title {
  font-family: 'Oswald', sans-serif;
  float: left;
  width: 100%;
}

.nav {
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.navbar-static-top {
    background-color: #fff;
    border: none;
    box-shadow: none;
    background-image: none;
}

.navbar > .container {
  padding-bottom: 0;
}

.container {
  padding-bottom: 70px;
}

.carousel-inner {
    height: 100%;
    width: 100%;
    max-height: 650px;
    align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba( 255, 255, 255, 0.8 );
}

.container-thumbnail:hover .overlay {
  opacity: 1;
}

.container-thumbnail {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.style-text {
  width: 45%;
  background: rgba(255, 255, 255, 0.6);
}

.style-image {
  padding-top: 11.3%;
}

.img-thumbnail {
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
  width: 100%
}

.reviews-img-thumbnail {
  cursor: auto;
  width: 150px;
  height: 150px;
}

.img-about {
  width: 318px;
}

.about-description {
  height: 100px;
}

.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.border > .border-right {
    flex: 1;
    border-right: 1px solid black;
}

.border {
    display: flex;
    border: 1px solid black;
}


/*style-image*/
.foam,
.rim-accent,
.pint-outline {
    fill: none;
    stroke: #000000;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
 
.highlight {
    opacity: 0.3;
    fill: #FFFFFF;
}
 
.rim-accent { stroke: #B1B3B6; }
.glass { fill: #E2E2E2; }
.head, .foam { fill: #FFFFFF; }
.shadow { opacity: 0.2; }
 
.beerColorRange {
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
